body{
    margin: 0;
    margin: 0 50px;
}
/* .container{
    margin: 20px 50px;
} */
.cover img{
   border-radius: 25px;
   height: 250px;
   
}
.desktop{
    display: block;
}


@media screen and (max-width: 699px){
    
    body{
        margin: 0 10px;
    }
    .container{
        margin: 20px 10px;
    }
    .cover img{
        height: 250px;
    }
    .Mobile{
        display: block;
    }
    
    .about-block{
        margin: 0 30px;
    }

  
}