.container {
    display: flex;
    justify-content: space-between;
    align-self: baseline;
    margin: 20px;
    width: 97%;
  }
  
  .container img {
    height: 50px;
    width: 180px;
  }
  
  @media screen and (max-width: 699px) {
    .container {
      margin: 20px 30px;
    }
    .container img {
      height: 30px;
      width: 70px;
      object-fit: contain;
    }
  }